.h1 {
  color: #1c5480;
  font-weight: 800;
  margin-bottom: 16;
  font-size: 32px;
}
.h2 {
  color: #0099ff;
  font-size: 21px;
  margin: 0;
}

.a {
  color: #09f;
  text-decoration: none;
  justify-content: center;
}

.style {
  align-items: center;
  display: grid;
  height: 100%;
  padding: 10vh;
  place-content: center;
  place-items: center;
  text-decoration: none;
}

.div {
  margin-top: 16px;
}

.btnGit {
  align-items: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  background-color: rgb(0, 0, 0);
  border-radius: 9999px;
  border: 2px solid #313131;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.btnGit:hover {
  opacity: 0.7;
}

.imgGit {
  margin-right: 12px;
}

@media (min-widht: 520px) {
  .main {
    width: 450px;
    height: 90vh;
  }
}
.section {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
}
